body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}
header, footer {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.contenedor {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.columna-izq, .columna-der {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

#resultado {
  margin-top: 15px;
  background: #eee;
  padding: 10px;
}

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }
}