body {
   font-family: "EB Garamond", serif;
  margin: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.idiomas a, nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover, .idiomas a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
}
header, footer {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.contenedor {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}

.top {
    display: flex;
    gap: 20px;
}

.info, .generador {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 8px
}

.columna-izq, .columna-der {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

#resultado {
  background: #eee;
  padding: 20px;
  border-radius: 8px;
  column-count: 2;
  column-gap: 40 px;
}

#error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .top {
    flex-direction: column;
  }

  #resultado {
    column-count: 1;
  }
}